<% content_for(:page_title) { t(".page_title", area: @area.name) } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_person_path } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><span class="flag-icon flag-icon-<%= @area.country.alpha2 %>"></span> <%= @area.name %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Places", countries_path %></li>
        <li><%= link_to @country %></li>
        <li><%= link_to @area %></li>
        <li class="current">Subjects</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p>
      <%= @curated_count %> out of <%= @plaques_count %>
      (<%= @percentage_curated %>%)
      plaques have been curated
    </p>
    <span class="badge bg-secondary pull-right"><%= @subject_count %></span>

    <%= render partial: 'people/diversity' %>
    <br/>
    <%= will_paginate @people if @people.respond_to?(:total_pages) %>
    <%= render partial: 'people/tiles' %>
    <%= will_paginate @people if @people.respond_to?(:total_pages) %>

  </div>
</section>
