<% content_for :page_title, "Edit series information for plaque \#" + @plaque.id.to_s %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Core</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <section class="section">
        <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-6">
            <div class="form-floating">
              <%= f.collection_select :series_id, @series, :id, :name, { class: "form-select", include_blank: true } %>
              <%= f.label :series_id, t(".series_label") %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <%= f.text_field :series_ref, { include_blank: true } %>
              <%= f.label :series_ref, t(".series_ref_label") %>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.save") %>
            </div>
          </div>
        <% end %>
        <%= link_to t(".add_new_series"), new_series_path, target: :_blank, class: "btn btn-warning" %>
      </section>
    </div>
    <div class="col-lg-4 sidebar">
      <div class="widgets-container">
        <%= render "search" %>
        <%= render @plaque, show_subjects: false %>
      </div>
    </div>
  </div>
</div>