<% @top = @top || [] %>

<% if @top.size > 0 %>
  <section id="top10-category" class="top10-category section">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
      <div class="section-title-container d-flex align-items-center justify-content-between">
        <h2>The top 10</h2>
      </div>
    </div><!-- End Section Title -->

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <div class="row" data-masonry='{"percentPosition": true }'>
        <% @top.each do |t| %>
          <% person = Person.find(t.id) %>
          <div class="col-sm-3 col-lg-2 mb-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <%= link_to(person) do %>
              <div class="card card-inverse vcard person" typeof="<%= if (person.person?) then "foaf:Person" else "foaf:Agent" end %> vcard:VCard" about="#person" style="min-height: 8rem; background-color: #999;">
                <%= image_tag(person.main_photo.thumbnail_url, {class: 'card-img w-100'}) if person.main_photo&.thumbnail_url %>
                <div class="card-info">
                  <span class="card-title fn">
                    <span class="badge badge-primary">#<%= t.rank %></span> <%= person.full_name %><br/>
                    <small><%= person.dates %></small>
                    <% if person.gender == 'm' %>
                      <small><%= fa_icon(:mars) %></small>
                    <% elsif person.gender == 'f' %>
                      <small><%= fa_icon(:venus) %></small>
                    <% elsif person.gender == 'u' %>
                      <small><%= person.gender %></small>
                    <% end %>
                  </span>
                  <span class="badge bg-primary"><%= pluralize_with_no(t.plaques_count, t('activerecord.models.plaque').downcase) %> <%= @country.present? ? @area ? "in #{@area&.name}" : "in #{@country&.name}" : 'worldwide'  %></span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

  </section>
<% end %>
