<% content_for(:page_title) { t(".page_title") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to("subjects", people_path)%></li>
        <li class="current">New</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section id="role-summary" class="role-summary section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t(".page_subhead") %></p>

    <%= form_for(@person) do |f| %>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="mb-3">
        <%= f.label :born_on %>
        <%= f.text_field :born_on, { maxlength: 10, "aria-describedby": "datesHelpBlock" } %>
        <small id="datesHelpBlock" class="form-text text-muted">
          Year-of-birth/death helps the Wikidata automatcher to better find this subject. You may research independently if not on the plaque.
        </small>
      </div>
      <div class="mb-3">
        <%= f.label :died_on %>
        <%= f.text_field :died_on, { maxlength: 10 } %>
      </div>
      <div class="form-group" data-controller="autocomplete" data-autocomplete-url-value="/roles/autocomplete" role="combobox">
        <%= f.label :role, "primary role" %>
        <%= text_field_tag :person_role, "", { "aria-describedby": "roleHelpBlock", class: "form-control", "data-autocomplete-target": "input", placeholder: "primary role" } %>
        <%= hidden_field_tag :role_id, "", { "data-autocomplete-target": "hidden" } %>
        <small id="roleHelpBlock" class="form-text text-muted">
          Please try to set a primary role ('actor', 'house', etc.) as it stops objects being displayed as people
        </small>
        <ul class="list-group" data-autocomplete-target="results"></ul>
      </div>
      <%= f.submit t("buttons.save") %>
    <% end %>

  </div>
</section>
