<% content_for(:page_title) { t(".page_title") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to("subjects", people_path)%></li>
        <li class="current">New</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <section class="section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <p><%= t(".page_subhead") %></p>
          <p>Year-of-birth/death helps the Wikidata automatcher to better find this subject. You may research independently if not on the plaque. </p>
          <p>Please try to set a primary role ('actor', 'house', etc.) as it stops objects being displayed as people</p>

          <%= form_for @person, html: { class: "row g-3 mb-9" } do |f| %>
            <%= hidden_field_tag :plaque_id, @plaque&.id %>
            <div class="col-sm-6 col-md-8">
              <div class="form-floating">
                <%= f.text_field :name %>
                <%= f.label :name %>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-floating">
                <%= f.text_field :born_on, { maxlength: 10 } %>
                <%= f.label :born_on %>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-floating">
                <%= f.text_field :died_on, { maxlength: 10 } %>
                <%= f.label :died_on %>
              </div>
            </div>
            <div class="col-sm-6 col-md-6" data-controller="autocomplete" data-autocomplete-url-value="/roles/autocomplete" role="combobox">
              <div class="form-floating">
                <%= text_field_tag :person_role, "", {  "data-autocomplete-target": "input" } %>
                <%= f.label :role, "primary role" %>
                <%= hidden_field_tag :role_id, "", { "data-autocomplete-target": "hidden" } %>
                <ul class="list-group" data-autocomplete-target="results"></ul>
              </div>
            </div>
            <span class="col-sm-6">
              <%= link_to t(".add_a_role"), new_role_path, target: :_blank, class: "btn btn-warning" %>
            </span>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <%= f.submit t("buttons.save") %>
              </div>
            </div>
          <% end %>

        </div>
      </section>

    </div>

    <div class="col-lg-4 sidebar">
      <div class="widgets-container">
        <%= render "search" %>
        <%= render @plaque if @plaque %>
      </div>
    </div>
  </div>
</div>
