<% content_for(:page_title) { t(".page_title", phrase: @original_phrase) } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading", phrase: @original_phrase) %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Search</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= render partial: "search_form", locals: { phrase: @original_phrase } %>

    <% if @organisations.any? %>
      <h2>Organisations</h2>
      <div class="row">
        <%= render @organisations %>
      </div>
    <% end %>

    <% if @places.any? %>
      <h2>Places</h2>
      <div class="row" data-masonry='{"percentPosition": true }'>
        <%= render @places %>
      </div>
    <% end %>

    <% if @people.any? %>
      <h2>Subjects</h2>
      <%= render partial: 'people/tiles' %>
    <% end %>

    <% if @plaques.any? %>
      <h2>Plaques</h2>
      <%= render partial: "plaques/tiles" %>
    <% end %>

    <% if params[:from] && params[:from] == "submission" %>
      <div class="row"><%= t(".not_found") %> <%= link_to t(".add_it"), new_plaque_path(checked: true), name: :goadd %>.</div>
    <% else %>
      <h2>
        <%= t(".try_again") %>
        <%= link_to t(".add_it"), new_plaque_path(checked: true, phrase: @original_phrase), id: :goadd %>
      </h2>
      <div class="row">
        <%= render partial: "search_form", locals: { phrase: @original_phrase } %>
      </div>
    <% end %>

  </div>
</section>
