<% content_for(:page_title) { t(".page_title", organisation: @organisation.name) } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading", organisation: @organisation.name) %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Organisations", organisations_path %></li>
        <li><%= link_to @organisation %></li>
        <li class="current">Edit</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-9">

        <%= form_for @organisation, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-6 col-md-8">
            <div class="form-floating">
              <%= f.text_field :name %>
              <%= f.label :name %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-floating">
              <%= f.collection_select :language_id, @languages, :id, :name, { include_blank: "Select a language" }, class: 'form-select' %>
              <%= f.label :language_id, t('.language') %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-floating">
              <%= f.text_field :slug %>
              <%= f.label :slug %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-floating">
              <%= f.label :website %>
              <%= f.text_field :website %>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <%= f.text_area :description, style: "height: 100px" %>
              <%= f.label :description %>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <%= f.text_area :notes, style: "height: 100px" %>
              <%= f.label :notes %>
            </div>
          </div>
          <%= render "geolocate", { f: f, object: @organisation, q: "#{@organisation.name}" } %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.update") %>
            </div>
          </div>
        <% end %>
        <%= button_to "geolocate from plaques", { controller: :organisations, action: :geolocate, id: @organisation }, class: "btn btn-warning my-3" if @organisation.plaques.geolocated.any? %>

      </div>
    </div>
  </div>
</section>
