<% content_for(:page_title) { t(".page_title") } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_organisation_path } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.1/holder.js"></script>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Organisations</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div>

      <p>
        Popular opinion in the UK is that English Heritage are the only organisation that can create 'official' plaques.
        This is totally wrong. There are a multitude of organisations that create plaques ranging from local authorities to specialist fan groups to individuals.
        Anybody can have a plaque created, the main limiting factor being cost (a couple of hundred pounds for a good cast metal plaque that will last) and having the freeholder's permission.
        In other countries the laws will be different, for example each US State will often have a historical markers board, but it still appears that multiple groups are active.
      <p>
      <p>
        OpenPlaques has <%= Organisation.count %> organisations registered.
      </p>
      <h2>Top 10</h2>
      <% @chart_data = {
          datasets: [ {
            data: @top_ten.map { |organisation| organisation.sponsorships_count },
            indexAxis: :y,
            label: "Sponsorships"
          } ],
          labels: @top_ten.map(&:name)
        } %>
      <% @chart_options = {} %>
      <canvas style="display: block; box-sizing: border-box; height: 400px; width: 800px;" data-controller="chartjs" data-chartjs-type-value="bar" data-chartjs-data-value="<%= @chart_data.to_json %>" data-chartjs-options-value="<%= @chart_options.to_json %>"
    ></canvas>

      <h2>In alphabetical order</h2>
      <%= will_paginate @organisations if @organisations.respond_to?(:total_pages) %>
      <div id="organisation-tiles" class="row" data-masonry='{"percentPosition": true }'>
        <%= render @organisations %>
      </div>
      <%= will_paginate @organisations if @organisations.respond_to?(:total_pages) %>

    </div>
  </div>
</section>
