<% content_for :page_title, "Edit description for " + @plaque.title %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Description of the <%= link_to @plaque.title, @plaque %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Edit description</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <section class="section">
        <p>Enter any additional interesting information about the plaque and links to articles about it to be displayed on the plaque detail page.</p>
        <p>Articles can be linked using the format [name of link](https://....)</p>
        <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <%= f.text_area :description, style: "height: 200px" %>
              <%= f.label :description, t(".description") %>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.save") %>
            </div>
          </div>
        <% end %>
      </section>
    </div>
    <div class="col-lg-4 sidebar">
      <div class="widgets-container">
        <%= render "search" %>
        <%= render @plaque, show_subjects: false %>
      </div>
    </div>
  </div>
</div>
