<% content_for(:page_title) { t(".page_title") } %>
<% content_for(:admin_menu) { navbar_link_to(t(".pages"), pages_path, { class: :edit, title: t(".pages") }) } %>

<% content_for :head do %>
  <%= stylesheet_link_tag "swiper-bundle.min.css", "data-turbo-track": "reload" %>
<% end %>

<!-- Slider Section -->
<section id="slider" class="section dark-background">

  <div class="container slider" data-aos="fade-up" data-aos-delay="100" data-controller="swiper">
    <div class="swiper" data-swiper-target="container">
      <div class="swiper-wrapper">
        <%= render partial: "swiper_slide", collection: Page.tagged_with("swiper"), as: :page %>
      </div>
      <div class="swiper-button-next" data-swiper-target="next"></div>
      <div class="swiper-button-prev" data-swiper-target="prev"></div>
      <div class="swiper-pagination" data-swiper-target="pagination"></div>
    </div>
  </div>

</section><!-- /Slider Section -->

<!-- Searchbox Section -->
<section id="searchbox" class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-md-9">
        <%= render "search" %>
      </div>
    </div> <!-- End .row -->

  </div>
</section><!-- /Searchbox Section -->

<!-- Project Category Section -->
<section id="project-category" class="project-category section">
  <% project_pages = Page.tagged_with("project").recency_ordered %>

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-5">
      <div class="col-lg-4">

        <% project_pages[0..0]&.each do |page| %>
          <div class="post-entry lg">
            <%= link_to page do %>
              <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %>
            <% end if page.main_photo %>
            <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
            <h2><%= link_to page %></h2>
            <p class="mb-4 d-block"><%= page.strapline %></p>
            <div class="d-flex align-items-center author">
              <div class="photo">
                <%= image_tag page.author&.main_photo, alt: page.author&.name, class: "img-fluid" if page.author&.main_photo %>
              </div>
              <div class="name">
                <h3 class="m-0 p-0"><%= page.author&.name %></h3>
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="col-lg-8">
        <div class="row g-5">
          <div class="col-lg-4 border-start custom-border">
            <% project_pages[1..3]&.each do |page, i| %>
              <div class="post-entry">
                <%= link_to page do %>
                  <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" if page.main_photo %>
                <% end %>
                <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime("%Y-%m-%d") %>"><%= page.created_at.strftime("%-d %b %Y") %></time></span></div>
                <h2><%= link_to page %></h2>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4 border-start custom-border">
            <% project_pages[4..6]&.each do |page, i| %>
              <div class="post-entry">
                <%= link_to page do %>
                  <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" if page.main_photo %>
                <% end %>
                <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime("%Y-%m-%d") %>"><%= page.created_at.strftime("%-d %b %Y") %></time></span></div>
                <h2><%= link_to page %></h2>
              </div>
            <% end %>
          </div>

          <!-- Trending Section -->
          <div class="col-lg-4">

            <div class="trending">
              <h3>Trending</h3>
              <ul class="trending-post">
                <% Page.random(5).each_with_index do |page, i| %>
                  <li>
                    <%= link_to page do %>
                      <span class="number"><%= i + 1 %></span>
                      <h3><%= page.name %></h3>
                      <span class="author"><%= page.author&.name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>

          </div> <!-- End Trending Section -->
        </div>
      </div>

    </div> <!-- End .row -->

  </div>
</section><!-- /Project Category Section -->

<!-- Culture Category Section -->
<section id="culture-category" class="culture-category section">
  <% culture_pages = Page.tagged_with("culture").recency_ordered %>

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2>Culture</h2>
      <!--
      <p><a href="categories.html">See All Culture</a></p>
      -->
    </div>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-md-9">

      <% culture_pages[0..0]&.each do |page| %>
        <div class="d-lg-flex post-entry">
          <%= link_to page, class: "me-4 thumbnail mb-4 mb-lg-0 d-inline-block" do %>
            <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %>
          <% end if page.main_photo %>
          <div>
            <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
            <h3><%= link_to page %></h3>
            <p><%= page.strapline %></p>
            <div class="d-flex align-items-center author">
              <div class="photo">
                <%= image_tag page.author&.main_photo, alt: "", class: "img-fluid" if page.author&.main_photo %>
              </div>
              <div class="name">
                <h3 class="m-0 p-0"><%= page.author&.name %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>

        <div class="row">
          <div class="col-lg-4">
          <% culture_pages[1..1]&.each do |page| %>
            <div class="post-list border-bottom">
              <%= link_to page do %>
              <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %>
              <% end if page.main_photo %>
              <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2 class="mb-2"><%= link_to page %></h2>
              <span class="author mb-3 d-block"><%= page.author&.name %></span>
              <p class="mb-4 d-block"><%= page.strapline %></p>
            </div>
          <% end %>
          <% culture_pages[2..2]&.each do |page| %>
            <div class="post-list">
              <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2 class="mb-2"><%= link_to page %></h2>
              <span class="author mb-3 d-block"><%= page.author&.name %></span>
            </div>
          <% end %>
          </div>
          <div class="col-lg-8">
            <% culture_pages[3..3]&.each do |page| %>
            <div class="post-list">
              <%= link_to page do %>
                <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %>
              <% end if page.main_photo %>
              <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2 class="mb-2"><%= link_to page %></h2>
              <span class="author mb-3 d-block"><%= page.author&.name %></span>
              <p class="mb-4 d-block"><%= page.strapline %></p>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
      <% culture_pages.random(6)&.each do |page| %>
        <div class="post-list border-bottom">
          <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
          <h2 class="mb-2"><%= link_to page %></h2>
          <span class="author mb-3 d-block"><%= page.author&.name %></span>
        </div>
      <% end %>
      </div>
    </div>

  </div>

</section><!-- /Culture Category Section -->

<!-- Lifestyle Category Section -->
<section id="lifestyle-category" class="lifestyle-category section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2>Top Viewed Plaques</h2>
      <!--
      <p><a href="categories.html">See All Most Viewed Plaques</a></p>
      -->
    </div>
  </div><!-- End Section Title -->


  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
      <div class="col-lg-4">
        <% Page.where(slug: "top_plaque_one")[0..0]&.each do |page| %>
          <div class="post-list lg">
            <%= link_to page do %>
              <%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %>
            <% end if page.main_photo %>
            <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
            <h2><%= link_to page %></h2>
            <p><%= page.body %></p>
            <div class="d-flex align-items-center author">
              <div class="photo">
                <%= image_tag page.author&.main_photo, alt: page.author&.name, class: "img-fluid" if page.author&.main_photo %>
              </div>
              <div class="name">
                <h3 class="m-0 p-0"><%= page.author&.name %></h3>
              </div>
            </div>
          </div>
        <% end %>

      <% Page.tagged_with("top10")[1..2]&.each_with_index do |page, i| %>
        <div class="post-list <%= 'border-bottom' if i > 1 %>">
          <div class="post-meta"><span class="date"><%= page.category %></span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
          <h2 class="mb-2"><%= link_to page %></h2>
          <span class="author mb-3 d-block"><%= page.author&.name %></span>
        </div>
      <% end %>

      </div>

      <div class="col-lg-8">
        <div class="row g-5">
          <div class="col-lg-4 border-start custom-border">
          <% Page.tagged_with("top10")[3..5]&.each do |page| %>
            <div class="post-list">
              <%= link_to page do %><%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %><% end if page.main_photo %>
              <div class="post-meta"><span class="date">Top Viewed</span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2><%= link_to page %></h2>
            </div>
          <% end %>
          </div>
          <div class="col-lg-4 border-start custom-border">
          <% Page.tagged_with("top10")[6..9]&.each do |page| %>
            <div class="post-list">
              <%= link_to page do %><%= image_tag page.main_photo.thumbnail_url, alt: "", class: "img-fluid" %><% end if page.main_photo %>
              <div class="post-meta"><span class="date">Top Viewed</span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2><%= link_to page %></h2>
            </div>
          <% end %>
          </div>
          <div class="col-lg-4">
          <% Page.tagged_with("top10").random(6)&.each do |page| %>
            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Top Viewed</span> <span class="mx-1">•</span> <span><time datetime="<%= page.created_at.strftime('%Y-%m-%d') %>"><%= page.created_at.strftime('%-d %b %Y') %></time></span></div>
              <h2 class="mb-2"><%= link_to page %></h2>
              <span class="author mb-3 d-block"><%= page.author&.name %></span>
            </div>
          <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>

</section><!-- /Lifestyle Category Section -->
