<!-- Blog Author Widget -->
<div class="blog-author-widget widget-item">

  <div class="d-flex flex-column align-items-center">
    <div class="d-flex align-items-center w-100">
      <%= image_tag "blog/blog-author.jpg", alt: "", class: "rounded-circle flex-shrink-0" %>
      <div>
        <h4><%= author&.name %></h4>
        <div class="social-links">
          <% if author&.bluesky %>
            <a href="https://bluesky.com/<%= author&.bluesky %>" target="_new"><i class="bi bi-bluesky"></i></a>
          <% end %>
          <% if author&.mastodon %>
            <a href="https://mastodon.com/<%= author&.mastodon %>" target="_new"><i class="bi bi-mastodon"></i></a>
          <% end %>
          <% if author&.twitter %>
            <a href="https://x.com/<%= author&.twitter %>" target="_new"><i class="bi bi-twitter-x"></i></a>
          <% end %>
          <% if author&.facebook %>
            <a href="https://facebook.com/<%= author&.facebook %>" target="_new"><i class="bi bi-facebook"></i></a>
          <% end %>
          <% if author&.instagram %>
            <a href="https://instagram.com/<%= author&.instagram %>" target="_new"><i class="biu bi-instagram"></i></a>
          <% end %>
          <% if author&.linkedin %>
            <a href="https://linkedin.com/<%= author&.linkedin %>" target="_new"><i class="biu bi-linkedin"></i></a>
          <% end %>
        </div>
      </div>
    </div>

    <p>
      <%= author&.biography %>
    </p>

  </div>

</div><!--/Blog Author Widget -->
