<% content_for(:page_title) { t(".page_title", page: @page.name ) } %>
<% content_for(:admin_menu) { navbar_link_to(t("buttons.add"), new_page_path) } %>
<% content_for(:admin_menu) { navbar_link_to(t("buttons.edit"), edit_page_path(@page.slug)) } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= @page.name %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">Page #<%= @page.id %></li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">

          <article class="article">

            <div class="post-img">
              <%= image_tag @page.main_photo ? @page.main_photo.file_url : "blog/blog-#{rand(6) + 1}.jpg", alt: "", class: "img-fluid" %>
            </div>

            <h2 class="title"><%= @page.strapline %></h2>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <%= @page.author&.name %></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="<%= @page.created_at.strftime('%Y-%m-%d') %>"><%= @page.created_at.strftime('%-d %b %Y') %></time></li>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              <%= markdown(@page.body) %>
            </div><!-- End post content -->

            <div class="meta-bottom">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <% @page.category_list.each do |name| %>
                  <li><a href="#"><%= name %></a></li>
                <% end %>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                <% @page.tag_list.each do |name| %>
                  <li><a href="#"><%= name %></a></li>
                <% end %>
              </ul>
            </div><!-- End meta bottom -->

          </article>

        </div>
      </section><!-- /Blog Details Section -->

    </div>

    <div class="col-lg-4 sidebar">

      <div class="widgets-container">

        <%= render "author", author: @page.author %>

        <%= render "search" %>

        <%= render "recent_posts" %>

        <%= render "tags" %>

      </div>

    </div>

  </div>
</div>
