<% content_for :page_title, t(".page_title", plaque: @plaque.title) %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Location</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t(".page_subhead") %></p>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-12">
            <div class="form-floating">
              <%= f.text_field :address, readonly: !current_user %>
              <%= f.label :address %>
            </div>
          </div>
          <% if current_user %>
            <div class="col-12">
              <div class="form-floating">
                <%= f.collection_select(:area_id, @areas, :id, :full_name, include_blank: true) %>
                <%= f.label :area_id %>
              </div>
            </div>
          <% end %>
          <a href="https://maps.google.com/maps?q=<%= @plaque.full_address %>&z=18" target="_new">Search on Google Maps</a>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <input class="form-control" type="text" value="http://..." name="streetview_url" id="streetview_url" size="100" />
              <label class="form-label" for="streetview_url">OpenStreetMap/Google/Geohack url</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <div class="form-floating">
                <%= f.text_field :latitude, readonly: !current_user %>
                <%= f.label :latitude %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="form-floating">
                <%= f.text_field :longitude, readonly: !current_user %>
                <%= f.label :longitude %>
              </div>
            </div>
          </div>
          <a id="latlonlink" href="https://maps.google.com/maps?q=<%= @plaque.latitude %>,<%= @plaque.longitude %>&z=18" target="_new"><%= @plaque.latitude %>,<%= @plaque.longitude %> on Google Maps</a>
          <div class="col-12">
            <div class="form-floating">
              <%= f.text_field :openstreetmap, readonly: !current_user %>
              <%= f.label :openstreetmap %>
            </div>
          </div>
          <%= link_to @plaque.openstreetmap, "https://osm.org/#{@plaque.openstreetmap}", target: :_new if @plaque.openstreetmap %>
          <div class="form-group">
            <%= f.check_box :is_accurate_geolocation %> I am certain that this location is accurate because it was located from a geocoded photo, or I have seen this plaque in Google Streetview/real life
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.save") %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          A photo will give you the position where the photographer was standing, and Google Streetview where the cameracar was.
          Drag and drop the blue dot to refine the position.
        </p>
        <section id="plaque-map" data-controller="maplibre" data-maplibre-style="<%= JSON[
            {
              centroid: @plaque.center_point_array,
            }
          ] %>"  style="height: 400px; width: 100%; margin-top: 15px;">
            <template data-controller="geojson" data-url="<%= plaque_path(@plaque, format: :geojson) %>" data-map-id="plaque-map">
              when this is displayed it sends a message to the map to display popups then autodestructs
            </template>
          </section>
      </div>
    </div>

  </div>
</section>
