<% content_for :page_title, t(".page_title", plaque: @plaque.title) %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">New sponsorship</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t(".page_subhead") %></p>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= form_for @plaque do |f| %>
          <% if current_user %>
            <%= f.text_field(:address) %>
            <%= f.collection_select(:area_id, @areas, :id, :full_name, include_blank: true) %>
          <% end %>
          <a href="https://maps.google.com/maps?q=<%= @plaque.full_address %>&z=18" target="_new">Search on Google Maps</a>
          <div class="form-group">
            <label class="form-label" for="streetview_url">OpenStreetMap/Google/Geohack url</label>
            <input class="form-control" type="text" value="http://..." name="streetview_url" id="streetview_url" size="100" />
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <%= f.label :latitude %>
              <%= f.text_field :latitude, readonly: !current_user %>
            </div>
            <div class="form-group col-md-3">
              <%= f.label :longitude %>
              <%= f.text_field :longitude, readonly: !current_user %>
            </div>
          </div>
          <a id="latlonlink" href="https://maps.google.com/maps?q=<%= @plaque.latitude %>,<%= @plaque.longitude %>&z=18" target="_new"><%= @plaque.latitude %>,<%= @plaque.longitude %> on Google Maps</a>
          <div class="form-group">
            <%= f.check_box :is_accurate_geolocation %> I am certain that this location is accurate because it was located from a geocoded photo, or I have seen this plaque in Google Streetview/real life
          </div>
          <%= f.submit "Update" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          A photo will give you the position where the photographer was standing, and Google Streetview where the cameracar was.
          Drag and drop the blue dot to refine the position.
        </p>
        <div class="form-group" id="map" style="height: 400px; width: 100%; margin-top: 15px;"></div>
      </div>
    </div>

  </div>
</section>
