<% content_for :page_title, t(".page_title") + @plaque.id.to_s %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Edit inscription</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <section class="section">
        <p><%= t(".page_subhead") %></p>
        <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-3">
            <div class="form-floating">
              <%= f.collection_select :language_id, @languages, :id, :name %>
              <%= f.label :language_id %>
            </div>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <%= f.text_area :inscription, { autocomplete: "off", autofocus: true, placeholder: t(".placeholder"), style: "height: 200px" } %>
              <%= f.label :inscription, t(".the_words") %>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :inscription_is_stub %>
              <%= t('.exact_wording') %>
            </label>
          </div>
          <div class="col-sm-6 col-md-12">
            <div class="form-floating">
              <%= f.text_area :inscription_in_english, style: "height: 100px" %>
              <%= f.label :inscription_in_english, t('.inscription_in_english') %>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.save") %>
            </div>
          </div>
        <% end %>
      </section>
    </div>
    <div class="col-lg-4 sidebar">
      <div class="widgets-container">
        <%= render "search" %>
        <%= render @plaque, show_subjects: false %>
      </div>
    </div>
  </div>
</div>
