<% content_for :page_title, t(".page_title") + @plaque.id.to_s %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Edit inscription</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t(".page_subhead") %></p>

    <% if @plaque.main_photo %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= render "plaques/inscription/form" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= render @plaque.main_photo, large: true %>
        </div>
      </div>
    <% else %>
      <%= render "plaques/inscription/form" %>
    <% end %>

  </div>
</section>
