<% content_for(:page_title) { t(".page_title", area: "#{@area.name}, #{@area.country.name}") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_title", area: "#{@area.name}, #{@area.country.name}") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Places", countries_path %></li>
        <li><%= link_to @country %></li>
        <li><%= link_to @area.name, @area %></li>
        <li class="current">Edit</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-9">

        <%= form_for @area, url: { action: "update" }, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-6 col-md-8">
            <div class="form-floating">
              <%= f.text_field :name %>
              <%= f.label :name %>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="form-floating">
              <%= f.text_field :slug %>
              <%= f.label :slug %>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="form-floating">
              <%= f.collection_select :country_id, @countries, :id, :name, {} %>
              <%= f.label :country_id %>
            </div>
          </div>
          <%= render "geolocate", { f: f, object: @area, q: "#{@area.name}, #{@area.country.name}" } %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <%= f.submit t("buttons.update") %>
            </div>
          </div>
        <% end %>
        <%= button_to "geolocate from plaques", { controller: :areas, action: :geolocate, id: @area }, class: "btn btn-warning my-3" if @area.plaques.geolocated.any? %>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <%= button_delete(country_area_path(@area.country, @area)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
