<% content_for(:page_title) { 'Edit role: ' + @personal_role.person.full_name + (@personal_role.role ? ' was a ' + @personal_role.role&.name : '') } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= link_to @personal_role.person.full_name, @personal_role.person %> was <%= 'best known as' if @personal_role.primary? %> <%= a_or_an(@personal_role.role&.name) %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to('subjects', people_path)%></li>
        <li><%= link_to(@person) %></li>
        <li class="current">Edit</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= form_for @personal_role do |f| %>
      <% if @personal_role.role&.relationship? %>
        <div class="mb-3">
          <span class="form-label">of</span>
          <div class="form-group" data-controller="autocomplete" data-autocomplete-url-value="/people/autocomplete" role="combobox">
            <%= f.text_field :related_person, { class: "form-control", "data-autocomplete-target": "input", placeholder: "John Smith" } %>
            <%= f.hidden_field :related_person_id, "data-autocomplete-target": "hidden" %>
            <ul class="list-group" data-autocomplete-target="results"></ul>
            <%= link_to(fa_icon(:user) + t('.new_person'), "/people/new") %>
          </div>
        </div>
      <% end %>
      <div class="input-group">
        <span class="input-group-text"><%= f.label :started_at %></span>
        <%= f.text_field :started_at %>
        <span class="input-group-text"><%= f.label :ended_at %></span>
        <%= f.text_field :ended_at %>
      </div>
      <%= f.label :ordinal %>
      <%= f.text_field :ordinal %>
      <%= f.label :primary %>
      <%= f.check_box :primary %>
      <%= f.submit t('buttons.update') %>
    <% end %>

    <script type="text/javascript">
      $(function() {
        $( "#personal_role_related_person" ).autocomplete({
          autofocus: true,
          source: function(request, response) {
            $.ajax({
              url: "/people/autocomplete",
              dataType: "json",
              data: {
                contains: request.term,
                limit: 10
              },
              success: function(data) {
                response($.map(data, function(item) {
                  return {
                    label: item.name_and_dates,
                    id: item.id
                  }
                }));
              }
            });
          },
          select: function(event, ui) {
            $('#personal_role_related_person_id').val(ui.item.id);
          }
        });
      });
    </script>

  </div>
</section>
