<div class="row min-vh-100 py-5">
  <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3 mx-auto"><%= link_to(root_path, class: 'd-flex flex-center text-decoration-none mb-4') do %>
      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><%= render('layouts/logo', size: 'md') %>
      </div>
    <% end %>
    <div class="text-center mb-7">
      <h3 class="text-body-highlight">Sign In</h3>
      <p class="text-body-tertiary">Get access to your account</p>
    </div>
    <%= button_to omniauth_authorize_path(resource_name, :google_oauth2),
                  method: :post,
                  class: "btn btn-phoenix-secondary w-100 mb-3" do %>
      <svg class="svg-inline--fa fa-google fa-w-16 text-danger me-2 fs-9" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" height="40" data-fa-i2svg="">
        <path fill="#EA4335" d="M9 3.48c1.69 0 2.82.73 3.47 1.35l2.52-2.52C13.46.78 11.43 0 9 0 5.48 0 2.44 2.01.96 4.93l2.96 2.3C4.69 5.24 6.64 3.48 9 3.48z"/>
        <path fill="#4285F4" d="M17.64 9.2c0-.64-.06-1.25-.17-1.84H9v3.48h4.84c-.21 1.12-.84 2.07-1.79 2.71l2.82 2.18C16.92 13.99 17.64 11.78 17.64 9.2z"/>
        <path fill="#FBBC05" d="M3.92 10.76a5.58 5.58 0 0 1-.29-1.76c0-.61.1-1.2.28-1.76L.96 4.93A8.996 8.996 0 0 0 0 9c0 1.43.34 2.78.96 4.07l2.96-2.31z"/>
        <path fill="#34A853" d="M9 17.99c2.43 0 4.47-.8 5.96-2.17l-2.82-2.18c-.79.53-1.8.85-3.14.85-2.36 0-4.31-1.76-5.04-4.12L.96 13.07C2.44 15.99 5.48 17.99 9 17.99z"/>
      </svg>Sign in with Google<% end %>
    <div class="position-relative">
      <hr class="bg-body-secondary mt-5 mb-4" />
      <div class="divider-content-center">or use email</div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render('devise/shared/error_messages', resource: resource) %>
      <div class="mb-3 text-start">
        <%= f.label(:email) %>
        <div class="form-icon-container">
          <%= f.email_field(:email, autofocus: true, autocomplete: 'email', class: 'form-control form-icon-input', placeholder: 'name@example.com') %>
          <svg class="svg-inline--fa fa-user fa-w-14 text-body fs-9 form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" height="14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
        </div>
      </div>

      <div class="mb-3 text-start">
        <%= f.label(:password) %>
        <div class="form-icon-container">
          <%= f.password_field(:password, autocomplete: 'current-password', class: 'form-control form-icon-input', placeholder: 'Password') %>
          <svg class="svg-inline--fa fa-key fa-w-16 text-body fs-9 form-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="key" height="14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path></svg>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="row flex-between-center mb-7">
          <div class="col-auto">
            <div class="form-check mb-0">
              <%= f.check_box(:remember_me) %>
              <%= f.label(:remember_me) %>
            </div>
          </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <div class="col-auto"><%= link_to('Forgot Password?', new_password_path(resource_name), class: 'fs-9 fw-semibold') %></div>
          <% end %>
        </div>
      <% end %>

      <%= f.submit('Log in', class: 'btn btn-primary w-100 mb-3') %>
    <% end %>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <div class="text-center"><%= link_to('Create an account', new_registration_path(resource_name), class: 'fs-9 fw-bold') %></div>
    <% end %>
  </div>
</div>
