<% content_for :page_title do %>Edit <%= @plaque.title %><% end %>
<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Core</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= f.text_field :erected_at_string, { include_blank: true } %>
          <%= f.label :erected_at_string, t(".erected_in") %>
          <%= content_tag :div, t(".not_erected"), class: "form-text" unless @plaque.erected? %>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <label class="form-check-label">
          <%= f.check_box :is_current, class: 'form-check-input' %>
          <%= t('.exists') %>
        </label>
      </div>
      <div class="col-sm-6 col-md-12">
        <div class="form-floating">
          <%= f.text_area :notes, style: "height: 100px" %>
          <%= f.label :notes %>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <%= f.submit t("buttons.update") %>
        </div>
      </div>
    <% end %>

    <br/>
    <div class="row">
      <%= button_to('Delete plaque', plaque_path(@plaque.id), {method: :delete, class: "btn btn-danger"}) if current_user.try(:is_admin?) %>
    </div>

  </div>
</section>
