<% content_for :page_title, @plaque %>

<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= @plaque.title %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Plaque #<%= @plaque.id %></li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">

          <article class="article">

            <div class="post-img">
              <% if @plaque.main_photo %>
                <%= render @plaque.main_photo, large: true, class: "img-fluid" %>
              <% else %>
                <%= image_tag "NoPhotoSqr.png", alt: @plaque.title, class: "img-fluid" %>
              <% end %>
            </div>

            <h2 class="title">
              <% if @plaque.foreign? %>
                <span class="flag-icon <%= @plaque.language.flag_icon %>">
                </span>
              <% end %>
              <%= linked_inscription @plaque %>
            </h2>
            <% if @plaque.foreign? && @plaque.inscription_in_english.present? %>
              <div class="row">
                <h7><%= t '.english_translation' %>: "<%= @plaque.inscription_in_english %>"</h7>
              </div>
            <% end %>
            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-house"></i> <%= @plaque.address %>, <%= link_to @plaque.area.name, @plaque.area if @plaque.area %></li>
                <% if @plaque.erected_at? %>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="<%= @plaque.erected_at.strftime('%Y-%m-%d') %>"><%= @plaque.erected_at.strftime('%-d %b %Y') %></time></li>
                <% end %>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              <%= markdown(@plaque.description) %>
              <div id="details">
                <p>
                  <%= erected_information @plaque %>
                  <% if @plaque.series %>
                    <% if @plaque.series_ref? %>
                      #<span><%= @plaque.series_ref %></span>
                    <% else %>
                      Part
                    <% end %>
                    of the <%= link_to @plaque.series.name, @plaque.series %> series
                  <% end %>
                </p>
                <p>
                  Colour:
                  <% if @plaque.colour %>
                    <%= @plaque.colour.name %>
                  <% else %>
                    <% @colours = Colour.all %>
                    <%= form_for @plaque do |f| %>
                      <%= f.label :colour_id, "This plaque is" %>
                      <%= f.collection_select :colour_id, @colours, :id, :name, {include_blank: true} %>
                      <%= f.submit t("buttons.save"), class: :button %>
                    <% end %>
                  <% end %>
                </p>
                <p>
                  Wikimedia:
                  <div class="input-group" data-controller="clipboard" data-clipboard-success-content-value="Copied!">
                    <input class="form-control" name="wikimedia_tag" type="text" readonly value="<%= @plaque.wikimedia_tag %>" data-clipboard-target="source" />
                    <button class="btn btn-secondary" type="button" data-action="clipboard#copy" data-clipboard-target="button">Copy to clipboard</button>
                  </div>
                </p>
                <p>
                  Flickr:
                  <div class="input-group" data-controller="clipboard" data-clipboard-success-content-value="Copied!">
                    <input class="form-control" name="machine_tag" type="text" readonly value="<%= @plaque.machine_tag %>" data-clipboard-target="source" />
                    <button class="btn btn-secondary" type="button" data-action="clipboard#copy" data-clipboard-target="button">Copy to clipboard</button>
                  </div>
                </p>
              </div>
              <% if @plaque.other_photos.present? %>
                <div class="col-xs-6 col-sm-4">
                  <div class="card">
                    <%= link_to plaque_photos_path(@plaque) do %>
                      <%= image_tag("NoPhotoSqr.png", class: 'card-img img-rounded w-100') %>
                      <p class="card-text">
                        <%= t '.how_to_add_yours' %>
                      </p>
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-4">
                  <%= render @plaque.other_photos[0] %>
                </div>
              <% end %>
              <div class="row">
                <% @plaque.other_photos[1..4]&.each do |photo| %>
                  <div class="col-sm-3">
                    <%= render photo %>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <% @plaque.other_photos[5..]&.each do |photo| %>
                  <div class="col-sm-2">
                    <%= render photo %>
                  </div>
                <% end %>
              </div>

              <%= content_tag(:p, t('.does_not_exist'), class: 'card-text bg-danger') unless @plaque.is_current %>
              <%= content_tag(:p, t('.not_erected'), class: 'bg-warning') unless @plaque.erected? %>
              <p class="card-text">
                
                <% if @plaque.roughly_geolocated? %>
                  <br/>[<%= link_to "geolocate this address", edit_plaque_geolocation_path(@plaque), {class: :edit, title: "Geolocate"} %>]
                <% end %>
                <% if @plaque.geolocated? %>
                  <br/>
                  <%= link_to(fa_icon(:link) + 'Google Streetview', "https://maps.google.com/maps?q=&layer=c&cbll=#{@plaque.latitude},#{@plaque.longitude}&cbp=11,0,0,0,0", target: "_blank") %>
                  <%= link_to(fa_icon(:link) + 'OpenStreetMap', "https://www.openstreetmap.org/#map=19/#{@plaque.latitude}/#{@plaque.longitude}", target: "_blank") %>
                <% end %>
              </p>

              <% if @plaque.see_also.present? %>
                <div class="card" id="see-also">
                  <h6 class="card-header">See also...</h6>
                  <div class="row" data-masonry='{"percentPosition": true }'>
                    <%= render partial: 'plaques/tile', collection: @plaque.see_also, as: :plaque %>
                  </div>
                </div>
              <% end %>
            </div><!-- End post content -->

            <div class="meta-bottom">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <% @plaque.category_list.each do |name| %>
                  <li><a href="#"><%= name %></a></li>
                <% end %>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                <% @plaque.tag_list.each do |name| %>
                  <li><a href="#"><%= name %></a></li>
                <% end %>
              </ul>
            </div><!-- End meta bottom -->

          </article>

        </div>
      </section><!-- /Blog Details Section -->

    </div>

    <div class="col-lg-4 sidebar">

      <div class="widgets-container">

        <!-- %= render "author", author: @page.author % -->

        <%= render "search" %>

        <%= render "subjects", plaque: @plaque %>

        <%= render "tags" %>

        <% if @plaque.geolocated? %>
          <div id="plaque-map" data-latitude="<%= @plaque.latitude %>" data-longitude="<%= @plaque.longitude %>" class="mini" data-zoom="17" data-view="one">
          </div>
          <%= content_tag(:div, t('.approximate_position'), class: 'bg-warning') unless @plaque.is_accurate_geolocation %>
        <% end %>
      </div>

    </div>

  </div>
</div>

<div<%= ' class=\"' + @plaque.colour.name + 'plaque\"' if @plaque.colour %>
 about="#this" typeof="op:Plaque"></div>
