<% content_for(:page_title) { t(".page_title") } %>
<% content_for(:title) { t('.page_heading') } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_photographer_path } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Photographers</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section id="photographers-category" class="photographers-category section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p><%= t('.how_many', count: @photographers_count) %></p>
    <p><%= t('.where') %> <%= t('.how_they_are_licenced_html') %></p>
    <canvas
      data-controller="chartjs"
      data-chartjs-data-value="<%= @chart_data.to_json %>"
    ></canvas>

  </div>

</section>