<% content_for :page_title, t(".page_title", plaque: @plaque.title) %>

<%= render "plaques/edit_bar", plaque: @plaque %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".title") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Plaques", plaques_path %></li>
        <li><%= link_to @plaque %></li>
        <li class="current">Edit colour</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-xs-12 <%= "col-sm-6" if @plaque.main_photo %>">
        <%= form_for @plaque, html: { class: "row g-3 mb-9" } do |f| %>
          <div class="col-sm-6 col-md-4">
            <div class="form-floating">
              <%= f.collection_select :colour_id, @colours, :id, :name, { include_blank: true } %>
              <%= f.label :colour_id, t(".colour_label") %>
            </div>
          </div>
          <%= f.submit t("buttons.save") %>
        <% end %>
      </div>
      <% if @plaque.main_photo %>
        <div class="col-xs-12 col-sm-6">
          <%= render @plaque.main_photo, large: true %>
        </div>
      <% end %>
    </div>

  </div>
</section>
