<% content_for(:page_title) { t(".page_title", role: @role.name) } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_role_path } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading", role: @role.name) %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Roles", roles_path %></li>
        <li><%= link_to @role %></li>
        <li class="current">Edit</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= form_for @role do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :role_type %>
      <%= f.collection_select :role_type, Role.types, :to_s, :to_s, include_blank: true %>
      <%= f.label :abbreviation %>
      <%= f.text_field :abbreviation %>
      <%= f.label :prefix %>
      <%= f.text_field :prefix %>
      <%= f.label :suffix %>
      <%= f.text_field :suffix %>
      <%= f.label :priority %>
      <%= f.number_field :priority %>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
      <div class="mb-3">
        <div class="col-sm-2">
          <%= f.label :wikidata_id %>
          <%= link_to "Wikidata <i class=\"bi bi-box-arrow-up-right\"></i>".html_safe, @role.wikidata_url, target: :_blank unless @role.wikidata_id.blank? %>
        </div>
        <%= f.text_field :wikidata_id %>
      </div>
      <div class="mb-3">
        <div class="col-sm-2">
          <%= f.label :en_wikipedia_url, class: "col-form-label" %>
          <%= link_to "Wikipedia <i class=\"bi bi-box-arrow-up-right\"></i>".html_safe, @role.wikipedia_url, target: :_blank unless @role.wikipedia_url.blank? %>
        </div>
        <%= f.text_field :en_wikipedia_url %>
      </div>
      <%= f.label :description %>
      <%= f.text_area :description, style: "height: 100px" %>
      <%= f.submit t("buttons.save") %>
    <% end %>

  </div>
</section>
