<% content_for(:page_title) { t(".page_title", role: @role.pluralize) } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.edit"), edit_role_path(@role)} if @role.id %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.add"), new_role_path } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= fa_icon(:user) if @role.person? %>
      <%= fa_icon(:paw) if @role.animal? %>
      <%= fa_icon(:users) if @role.group? %>
      <%= fa_icon(:building) if @role.place? %>
      <%= fa_icon(:'map-marker') if @role.thing? %>
      <%= @role.pluralize %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Roles", roles_path %></li>
        <li class="current"><%= @role.name %></li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section id="role-summary" class="role-summary section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <% if @role.used_as_a_prefix? || @role.used_as_a_suffix? %>
      <p>
        e.g. "<% if @role.used_as_a_prefix? %><strong><%= @role.prefix %> </strong><% end %>John Smith<% if @role.used_as_a_suffix? %><strong> <%= @role.letters %></strong><% end %>"
      </p>
    <% end %>

    <% unless !@role.description || @role.description.blank? %>
      <blockquote class="quote-card white-card">
        <p><%= @role.description %></p>
        <cite><%= link_to(fa_icon(:link) + 'DbPedia', @role.dbpedia_uri, target: :_blank) unless @role.dbpedia_uri.blank? %></cite>
      </blockquote>
    <% end %>
    <%= link_to(fa_icon(:link) + 'Wikidata', @role.wikidata_url, target: :_blank) unless @role.wikidata_url.blank? %>
    <%= link_to(fa_icon(:link) + 'Wikipedia', @role.wikipedia_url, target: :_blank) unless @role.wikipedia_url.blank? %>

  </div>
</section>

<section id="people-category" class="people-category section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="section-title-container d-flex align-items-center justify-content-between">
      <h2>
        <%= @personal_roles.total_entries if @personal_roles.respond_to?(:total_entries) %>
        <%= @personal_roles.size unless @personal_roles.respond_to?(:total_entries) %>Plaque Subjects
      </h2>
    </div>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= render partial: "personal_roles/tiles" %>

  </div>
</section>

<% if @role.related_roles.size > 0 %>
  <section id="related-roles-category" class="related-roles-category section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <div class="section-title-container d-flex align-items-center justify-content-between">
        <h2><%= t(".related_roles", count: @role.related_roles.count) %></h2>
      </div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row grid" data-masonry='{"percentPosition": true }'>
        <%= render @role.related_roles %>
      </div>

    </div>
  </section>
<% end %>
