<% content_for(:page_title) { t(".page_title") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li>Photos</li>
        <li class="current">New</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <h2><%= t '.required' %></h2>

    <%= form_for @photo do |f| %>
      <div class="mb-3">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>
      <div class="mb-3">
        <%= f.label :licence_id %>
        <%= f.collection_select :licence_id, @licences, :id, :name, {include_blank: true, class: 'form-select'} %>
      </div>
      <div class="mb-3">
        <%= f.label :photographer %>
        <%= f.text_field :photographer %>
      </div>
      <div class="mb-3">
        <%= f.label :photographer_url %>
        <%= f.text_field :photographer_url %>
      </div>
      <div class="mb-3">
        <%= f.label :file_url %>
        <%= f.text_field :file_url %>
      </div>
      <div class="mb-3">
        <%= f.label :plaque_id %>
        <%= f.text_field :plaque_id %>
      </div>
      <div class="mb-3">
        <%= f.label :shot %>
        <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, {include_blank: true, class: 'form-select'} %>
      </div>
      <%= f.submit t("buttons.save") %>
    <% end %>

  </div>
</section>
