<% content_for(:page_title) { t(".page_title") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading") %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li>Photos</li>
        <li class="current">New</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p>If this is a Wikimedia Commons, Geograph, or Flickr photo you only need provide the URL and Open Plaques will extract the details.</p>
    <%= form_for @photo do |f| %>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= f.text_field :url %>
          <%= f.label :url, 'URL (required)' %>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= f.collection_select :licence_id, @licences, :id, :name, { include_blank: true } %>
          <%= f.label :licence_id %>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= f.text_field :photographer %>
          <%= f.label :photographer %>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= f.text_field :photographer_url %>
          <%= f.label :photographer_url %>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= f.text_field :file_url %>
          <%= f.label :file_url %>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= f.text_field :plaque_id %>
          <%= f.label :plaque_id %>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= f.collection_select :shot, Photo.shots, :to_s, :to_s, {include_blank: true, class: 'form-select'} %>
          <%= f.label :shot %>
        </div>
      </div>
      <%= f.submit t("buttons.save") %>
    <% end %>

  </div>
</section>
