<% content_for(:page_title) { t(".page_title", photo: @photo.title) } %>
<% content_for(:admin_menu) { navbar_link_to t("buttons.edit"), edit_photo_path(@photo) } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t(".page_heading", name: @photo.name ) %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li>Photos</li>
        <li class="current">#<%= @photo.id %></li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <section class="section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <p>This image comes from <%= @photo.source %></p>
          <%= link_to @photo.url do %><%= render @photo, large: true %><% end %>
        </div>
      </section>

    </div>

    <div class="col-lg-4 sidebar">
      <div class="widgets-container">

        <%= render "search" %>

        <!-- Photo Subjects Widget -->
        <div class="photo-subject-widget widget-item">

          <h3 class="widget-title">Subject</h3>

          <% if @photo.plaque %>
            <p>This is a photo of a plaque.</p>
            <div class="post-item col-6">
              <%= render @photo.plaque, show_subjects: false %>
            </div>
          <% elsif @photo.person %>
            <p>This is a photo of a person or thing.</p>
            <div class="post-item col-6">
              <%= render @photo.person %>
            </div>
          <% else %>
            <% if @photo.of_a_plaque? %>
              <p>This photo has not been linked to a plaque or person yet.</p>
            <% else %>
              <p>This photo is <strong>not</strong> of a plaque.</p>
            <% end %>
          <% end %>

        </div><!--/Photo Subjects Widget -->

      </div>
    </div>
  </div>
</div>
