<% content_for(:page_title) { t(".page_title", page: @post.title ) } %>
<% content_for(:admin_menu) { navbar_link_to(t("buttons.add"), new_page_path) } %>
<% content_for(:admin_menu) { navbar_link_to(t("buttons.edit"), edit_page_path(@post.slug)) } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= @post.title %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li class="current">Page #<%= @post.id %></li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<div class="container">
  <div class="row">

    <div class="col-lg-8">

      <!-- Blog Details Section -->
      <section id="blog-details" class="blog-details section">
        <div class="container">

          <article class="post">

            <div class="post-img">
              <%= image_tag "blog/blog-#{rand(6) + 1}.jpg", alt: "", class: "img-fluid" %>
            </div>

            <% if @post.category %>
              <span class="category">
                in <%= link_to @post.category.name, blog_category_path(slug: @post.category.slug) %>
              </span>
            <% end %>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <%= @post.author&.name %></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="<%= @post.published_at.iso8601 %>"><%= @post.published_at.strftime('%-d %b %Y') %></time></li>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              <%= @post.content %>
            </div><!-- End post content -->

            <div class="meta-bottom">

              <% if @post.tags.any? %>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <% @post.tags.each do |tag| %>
                    <li><%= link_to tag.name, blog_tag_path(slug: tag.slug), class: "tag" %></li>
                  <% end %>
                </ul>
            <% end %>
            </div><!-- End meta bottom -->

          </article>

        </div>
      </section><!-- /Blog Details Section -->

    </div>

    <div class="col-lg-4 sidebar">

      <div class="widgets-container">

        <%= render "author", author: @post.author %>

        <%= render "search" %>

        <%= render "recent_posts" %>

        <%= render "tags" %>

        <% if @related_posts.any? %>
          <aside class="related-posts">
            <h3>Related Posts</h3>
            <ul>
              <% @related_posts.each do |post| %>
                <li>
                  <%= link_to post.title, blog_post_path(slug: post.slug) %>
                  <time datetime="<%= post.published_at.iso8601 %>"><%= post.published_at.strftime("%b %d") %></time>
                </li>
              <% end %>
            </ul>
          </aside>
        <% end %>

      </div>

    </div>

  </div>
</div>
