<% content_for(:page_title) {t '.page_title'} %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0"><%= t '.page_heading' %></h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Contact</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <%= render partial: '/layouts/featurette', locals: { id: 1, image_url: 'minnie-turner-unveiling.jpg', image_alt: 'Unveiling Minnie Turner plaque in Brighton', heading: t('.featurette_1_heading'), subheading: t('.featurette_1_subheading'), body: t('.featurette_1_body') } %>
    <%= render partial: '/layouts/featurette', locals: { id: 2, image_url: 'minjoo-jalali-plaque.jpg', image_alt: 'Minjoo Jalali plaque', heading: t('.featurette_2_heading'), subheading: t('.featurette_2_subheading'), body: t('.featurette_2_body') } %>
    <%= render partial: '/layouts/featurette', locals: { id: 3, image_url: 'blue-plaque-dress.jpg', image_alt: 'A dress of blue plaques', heading: t('.featurette_3_heading'), subheading: t('.featurette_3_subheading'), body: t('.featurette_3_body') } %>

  </div>
</div>
