<% content_for :page_title, t(".page_title") %>
<% content_for(:admin_menu) { navbar_link_to("All to-do lists", "/todo") } %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading") %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Todo", todo_index_path %></li>
        <li class="current">Colours from photos</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <% if @plaques.size > 0 %>
      <%= render partial: "plaques/tiles" %>
    <% else %>
      <p><%= t(".success") %></p>
    <% end %>

  </div>
</section>
