<% content_for :page_title, t(".page_title") %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading") %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Todo", todo_index_path %></li>
        <li class="current">Google Alerts</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p>Google have found these articles on the internet, which may be about <%= link_to "a plaque that needs adding to the site", new_plaque_path %></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">

    <% @google_alerts.each do |item| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= item.name.html_safe %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text"><%= item.description.html_safe %></p>
            <%= link_to "external article", item.url, target: :_blank %>
            <%= button_to "Delete", todo_path(item), { method: :delete, class: "btn btn-danger my-1" } %>
          </div>
        </div>
      </div>
     <% end %>
    </div>

  </div>
</section>