<% content_for :page_title, "Todo lists" %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading") %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li class="current">Todo</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <ol class="list-group list-group-numbered">

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("geolocated photos not linked to a plaque", todo_path('unassigned_photo')) %></div>
          We have found a load of photos on Geograph that we believe to be plaques
        </div>
        <span class="badge bg-primary rounded-pill"><%= @unassigned_photo_count %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("ungeolocated photos not linked to a plaque", todo_path('unassigned_ungeolocated_photo')) %></div>
          We have found what we believe to be plaques on Flickr
        </div>
        <span class="badge bg-primary rounded-pill"><%= @unassigned_ungeolocated_photo_count %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("UK plaques with no connections", todo_path('no_connection')) %></div>
          A big push is to achieve near to complete connections for UK plaques
        </div>
        <span class="badge bg-primary rounded-pill"><%= @no_connection_percentage %>%</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("Lists with plaques to be datacaptured", todo_path('lists_to_datacapture')) %></div>
          Around the internet there are legitimate sources for datacapture
        </div>
        <span class="badge bg-primary rounded-pill"><%= @lists_to_datacapture %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("Plaques with photos and no colour identified", todo_path('colours_from_photos')) %></div>
          If we have a photo then we should be able to identify the colour
        </div>
        <span class="badge bg-primary rounded-pill"><%= @photographed_not_coloured_plaques_count %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("Geolocated plaques with no location name", todo_path('locations_from_geolocations')) %></div>
          If we have geolocated a plque then we should be able to link it to a location
        </div>
        <span class="badge bg-primary rounded-pill"><%= @geo_no_location_plaques_count %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("People without a role", todo_path('no_roles')) %></div>
          Some subjects are added quickly and do not have a primary role, or it is not possible
        </div>
        <span class="badge bg-primary rounded-pill"><%= @no_roles_count %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to("Plaques with photos and a partial inscription", todo_path('partial_inscription_photo')) %></div>
          We should be able to read the inscription from the photos. Even use Google Lens or similar to capture the text.
        </div>
        <span class="badge bg-primary rounded-pill"><%= @partial_inscription_photo_count.to_i %></span>
      </li>

    </ol>

  </div>
</section>
