<% content_for :page_title, t(".page_title") %>

<!-- Page Title -->
<div class="page-title">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">
      <%= t(".page_heading") %>
    </h1>
    <nav class="breadcrumbs">
      <ol>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Todo", todo_index_path %></li>
        <li class="current">Lists to datacapture</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <p>These lists of plaques have been found on the internet, <%= link_to("and need adding to the site", new_plaque_path) %></p>
    <ul class="todo_add">
      <% @lists_to_datacapture.each do |item| %>
      <li>
        <% if item.image_url == nil %>
          <%= link_to(item.description, item.url) %>
          <% else %>
          <%= link_to(image_tag(item.image_url, {alt: item.description}), item.url) %>
        <% end  %>
        <%= button_to("Delete", todo_path(item), {method: :delete, class: :delete}) if current_user %>
      </li>
      <% end %>
    </ul>
    <br/>
    <p><%= link_to("Add a new list", new_todo_path) %></p>

</div>
</section >