<%= render "section_title", title: t(".geolocation") %>
<div class="col-sm-6 col-md-8">
  <div class="form-floating">
    <%= text_field_tag(:streetview_url, nil) %>
    <%= label_tag :streetview_url, t('find_on_google_maps_html', q: q) %>
  </div>
</div>
<div class="col-sm-6 col-md-8">
  <div class="input-group mb-1">
    <span class="input-group-text"><%= f.label :latitude %></span>
    <%= f.text_field :latitude %>
    <span class="input-group-text"><%= f.label :longitude %></span>
    <%= f.text_field :longitude %>
  </div>
  <div class="input-group mb-1">
    <span class="input-group-text"><%= f.label :min_latitude %></span>
    <%= f.text_field :min_latitude %>
    <span class="input-group-text"><%= f.label :min_longitude %></span>
    <%= f.text_field :min_longitude %>
  </div>
  <div class="input-group mb-1">
    <span class="input-group-text"><%= f.label :max_latitude %></span>
    <%= f.text_field :max_latitude %>
    <span class="input-group-text"><%= f.label :max_longitude %></span>
    <%= f.text_field :max_longitude %>
  </div>
</div>

<% if object.geolocated? %>
  <section id="geolocate" data-controller="maplibre" data-maplibre-style="<%= JSON[
    object.bbox_array ? 
    {
      bounds: object.bbox_array,
      fitBoundsOptions: {
        padding: 50
      }
    }
    :
    { centroid: object.center_point_array }
  ] %>" style="height: 400px; width: 100%; margin-top: 15px;"></section>
  <template data-controller="marker" data-center-point-array="<%= object.center_point_array %>" data-map-id="geolocate">
    when this is displayed it sends a message to the map to display popups then autodestructs
  </template>
<% end %>
