  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <%= link_to root_path, class: "logo d-flex align-items-center me-auto me-xl-0" do %>
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <%= image_tag "logo.png", alt: "logo" %>
        <h1 class="sitename">OpenPlaques</h1>
      <% end %>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><%= link_to t('menu.about'), about_path %></li>
          <li><%= link_to t('menu.photographers'), photographers_path %></li>
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><%= link_to t('menu.places'), countries_path %></li>
              <li><%= navbar_link_to t('menu.organisations'), organisations_path %></li>
              <li><%= navbar_link_to t('menu.roles'), roles_path %></li>
              <li><%= navbar_link_to t('menu.verbs'), verbs_path %></li>
            </ul>
          </li>
          <li><%= navbar_link_to t('menu.contact'), contact_path %></li>
          <% if current_user&.is_admin? %>
            <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <%= yield :admin_menu %>
              </ul>
            </li>
          <% end %>
          <li><%= link_to t('devise.sessions.user.sign_in'), new_user_session_path unless user_signed_in? %></li>
          <li><%= link_to t('devise.sessions.user.sign_out'), destroy_user_session_path, method: :delete if user_signed_in? %></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="#" class="mastodon"><i class="bi bi-mastodon"></i></a>
        <a href="https://www.facebook.com/OpenPlaques" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/2183385" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>
  